center{
    margin-top: 15%;
}
button{
border-radius: 3px;
 background-color: rgb(204, 183, 134);
 padding: 5px;
}

input{
    border-radius: 3px;
    background-color: rgb(135, 92, 106);
    padding: 5px;
   }